.thoughtworks-container{
    background-color: #ef5ba1;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    height: 10%;
    display: grid;
    grid-template-columns: auto 15% 2% auto;
    align-items: end end center center;
    padding-left: 16%;
}

.thoughtworks-nav-item{
    color:#eeeeee;
    font-size: 12.5px;   
    opacity: .75;
    width: 20vw;
}

.nav-sub-item1{
    padding-right: 10px;
}

.nav-sub-item2{
    padding-right: 10px;
}

.nav-sub-item3{
    padding-right: 10px;
}

.search-item{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eeeeee;
    opacity: .5;
    height: 20px;
    align-self:center;
    }

::placeholder{
    color: #eeeeee;
    opacity: .75;
    font-style: italic;
}

.submit-item{
    background-image: url("looking-glass.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.header-sub-items{
    font-size: 12px;
    font-weight: 700;
    margin-right: 10%;
    width: 10vw;
    align-self: center;
    }

.header-sub-item1{
    padding: 12px;
    border-left: .5px solid #eeeeee;    
}

.header-sub-item2{
    padding: 12px;
    border-left: .5px solid #eeeeee;
    border-right: .5px solid #eeeeee;
}

.g2-thoughtworks-container{
    width: 65%;
    display: grid;
    grid-template-columns: 35% 60%;
    justify-items: stretch;
    padding-top: 15px;
    border-bottom: 1px solid rgb(146, 146, 146);
    margin-left: 20%;
    place-content: center;
}

.g2-logo-item{
    width: 65%;
}

.g2-nav-items{
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
    place-content: space-evenly;
}