.thoughtworks-container{
    background-color: #ef5ba1;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: auto 15% 2% auto;
    align-items: end end center start;
    padding: 10px;
    padding-left: 18%;
}

.thoughtworks-nav-item{
    color:#eeeeee;
    font-size: 13px;   
    opacity: .75;
    width: 20vw;
}

.nav-sub-item1{
    padding-right: 10px;
}

.nav-sub-item2{
    padding-right: 10px;
}

.nav-sub-item3{
    padding-right: 10px;
}

.search-item{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eeeeee;
    opacity: .5;
    }

.submit-item{
    background-image: url("looking-glass.png");
    
}

.header-sub-items{
    font-size: 12px;
    font-weight: 700;
    margin-right: 20%;
    width: 12vw;
    }

.header-sub-item1{
    padding: 12px;
    border-left: .5px solid #eeeeee;    
}

.header-sub-item2{
    padding: 12px;
    border-left: .5px solid #eeeeee;
    border-right: .5px solid #eeeeee;
}

.g2-thoughtworks-container{
    max-width: 65vw;
    display: grid;
    grid-template-columns: 30% 60%;
    padding: 20px;
    border-bottom: 1px solid rgb(146, 146, 146);
}

.g2-logo-item{
    font-size: 32px;
}